.App {
  margin-left: 20px;
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  color:#ebf0ff
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn{
  padding:5px 15px;
  margin-left: 15px;
  background-color: rgb(153, 198, 170);
  border: none;
}
.btn:hover{
  background-color:rgb(183, 222, 198);
}

ul{
  list-style-type: none;
  padding-left: 0px;
}
input{
  width:300px;
  background-color: rgb(233, 227, 227);
  border: none;
  height: 24px;
}
form{
  padding-left: 40px;
}
.list{
  padding-top: 15px;
}
