.body {
    background-color: rgb(223, 185, 235);
    margin-left: 10%;
    margin-right: 10%;
}

.Input {
    background-color: rgb(43, 174, 226);
    color: white;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.Input:focus {
    background-color: blueviolet;
}

.Text {
    text-align: center;
    background-color: aqua;
    border: solid;
    width: 100%;
    font-size: 20px;
}